@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

.glassomorphic-effect {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.login-container {
  position: relative;
  top: 13vh;
  width: 30vw;
}

.signup-container {
  position: relative;
  top: 12vh;
  width: 45vw;
}

.big-headers {
  font-size: 4rem;
  font-weight: bold;
  color: #0bbfe0;
}

.sub-headers {
  font-size: 2rem;
  font-weight: bolder;
}

.blue-buttons {
  color: #0bbfe0;
  border-color: #0bbfe0;
}

.blue-buttons:hover {
  color: white;
  background-color: #0bbfe0;
}

.input-fields {
  width: 8rem;
  padding: 0.5rem 1rem;
}

.bg-img {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -999;
  object-fit: cover;
}

.landing-page-image {
  height: 100vh;
  width: 99vw;
}

.nav-link {
  color: #0bbfe0;
}

.form-container {
  padding: 0rem 3rem;
}

.login-text {
  color: #0bbfe0;
  width: 24rem;
}

.signup-text {
  color: #0bbfe0;
  width: 27rem;
}

.blue-text {
  color: #0bbfe0;
}

.user-type-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.user-type-popup {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.page {
  width: 100%;
  height: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: #272727;
  transition: width 0.3s ease;
  border-right: 1px #4d606e solid;
  padding-top: 15px;
}

.sidebar .sidebar-position {
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 12px;
  text-align: left;
}

.sidebar .sidebar-position:hover {
  background-color: #f5f5f56b;
  border-right: 5px white solid;
}

.sidebar svg {
  color: #0bbfe0;
  min-width: 25px;
}

.sidebar span {
  width: 0;
  height: 0;
  padding: 0 15px;
  transition: width 0.3s ease;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar--open {
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar--open .sidebar-position span {
  display: block;
  width: 100%;
  height: auto;
}

.trigger {
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px 18px;
}

.profile-img {
  margin: 1rem;
  width: 15vw;
  object-fit: cover;
  height: 30vh;
  border-radius: 50%;
  border: 1px solid #272727;
}

.landing-page-img {
  position: absolute;
  left: 11%;
  top: 85%;
  color: #99896f;
}

.loading-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  /* White background with opacity */
  backdrop-filter: blur(5px);
  /* Blur effect for supported browsers */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* High z-index to cover other elements */
}

.loading-content {
  position: relative;
  z-index: 10000;
  /* Ensure the loading text appears above the backdrop */
}

.sidebar-submenu button {
  display: block;
  width: 100%;
  background-color: #34495e;
  color: whitesmoke;
  border: none;
  padding: 10px 20px;
  text-align: left;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.sidebar-submenu button:hover,
.sidebar-submenu button:focus {
  background-color: #4a6075;
  color: #ffffff;
}

.sidebar-submenu button:not(:last-child) {
  margin-bottom: 5px;
}

.view-button {
  margin-top: 10px;
}

.image-preview-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.image-preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px;
  border-radius: 8px;
}

.slot-2 {
  display: flex;
}

.line-graph {
  flex: 65%;
  margin-right: 10px;
  border: 1px solid #272727;
}

.recent-issues {
  flex: 35%;
  border: 1px solid #272727;
}

select[multiple] {
  height: auto;
}